.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.input {
  font-size: 1.5em;
}

.result {
  font-size: 1.2em;
  color: #070303;
  font-family: cursive;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #00417e;
}

button {
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

button:active {
  background-color: #ddd;
}
.buttonc{
width: 184px;
}